.imageInput {
  width: 107px;
  height: 27px;
  margin-left: 19px;
display: flex;
justify-content: center;
align-items: center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background: #0e80bf;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}
