main {
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../../assets/images/shutterstock_2189773743\ 1.png);
}
header{
    top:0px;
}
.container {
  font-weight: 500;
font-size: 20px;
line-height: 24px;
  padding: 18px 60px;
  gap: 20px;
  width: 464px;
  height: 60px;
  background: #1a1a1a;
  border-radius: 8px;
}
.logo-agency{
    width: 299px;
height: 299px;
left: 1076px;
top: 473px;

}
a {
  width: 212px;
  height: 24px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
